<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- Appenders -->
    <Properties>
        <Property name="basePath">D://Log/JavaLog</Property>
    </Properties>
    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/app-info.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss}%-5p: %c - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p: %c - %m%n" />
        </Console>
    </Appenders>

    <!-- Application Loggers -->
    <Loggers>
        <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="fileLogger" />
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="com.toy.packet_capture" level="INFO" additivity="false">
            <AppenderRef ref="fileLogger" />
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="com.toy.logger" level="INFO" additivity="false">
            <AppenderRef ref="fileLogger" />
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc" level="INFO" additivity="false">
            <AppenderRef ref="fileLogger" />
            <AppenderRef ref="console" />
        </Logger>
    </Loggers>
</Configuration>